.base {
  background: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font: inherit;
  text-decoration: underline;
  transition: background-color 200ms linear;
}

.base:active {
  background-color: lightBlue;
}

.base:disabled {
  color: grey;
  cursor: not-allowed;
}

.button {
  composes: base;
  color: black;
}

.inverted {
  composes: base;
  color: white;
}
